@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Gochi+Hand&family=Prompt:wght@100;200;400;500;700&display=swap');

body {
    background-color: #e3e3e3;
    height: 100vh;
    margin: 0;
    font-family: 'Gochi Hand', sans-serif;
    flex-direction: column;
    color: #FFFFFF;
}

.title {
    font-size: 2.6em;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 0px;
}

.main {
    display: flex;
    flex: 1;
    height: 92%
}

.buttons {
    font-family: 'Gochi Hand', sans-serif;
    border-radius: 20px;
    font-size: 1em;
    background-color: #41506b;
    color: #FFFFFF;
}

.buttons:hover {
    background-color: #FFDDCC;
}

.grid-container {
    background-color: #FFDDCC;
    display: flex;
    margin: auto;
    border: 20px solid #41506b;
    border-radius: 12px;
}

.sidebar {
    width: 22%;
    background-color: #ff7e67;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.grid-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.color-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clear-setting {
    margin-top: 10px;
}

.footer {
    height: 8vh;
    background-color: #41506b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e3e3e3;
    font-size: 1em;
    letter-spacing: 0.1ch;
    gap: 0.5%;
}

/* Add [x]px border for border depending if 16-32-64-128  */
.grid {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    flex-grow: 1;
    background-color: white;
}

.grid-block-16 {
    flex: 1;
    min-width: 32px;
    min-height: 32px;
}

.grid-block-32 {
    flex: 1;
    min-width: 16px;
    min-height: 16px;
}

.grid-block-64 {
    flex: 1;
    min-width: 8px;
    min-height: 8px;
}

.grid-block-128 {
    flex: 1;
    min-width: 4px;
    min-height: 4px;
}
/* border-box and w/h as multipliers of 8-16-32*/
.grid-block-16,
.grid-block-32,
.grid-block-64,
.grid-block-128 {
    box-sizing: border-box;
}

.white-block {
    background-color: #FFFFFF;
    border: 0.5px solid #C0C0C0;
}

.black-block {
    background-color: #000000;
    border: 0.5px solid #000000;
}

#github {
    width: 22px;
    height: auto;
    margin-top: 30%;
}

