body {
    background-color: #FFDDCC;
    height: 100%;
    margin: 0;
}

.main {
    display: flex;
    height: calc( 100vh - 8vh);
}

.grid-container {
    background-color: #FFDDCC;
    display: flex;
    margin: auto;
    justify-content: center;
    border: 20px solid #265073;
    border-radius: 12px;
}

.sidebar {
    width: 22%;
    background-color: #FFCCCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.settings-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.grid-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.color-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer {
    height: 8vh;
    background-color: #FFEECC;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #44444;
    font-size: 1em;
    letter-spacing: 0.1ch;
    gap: 0.5%;
}

/* Add [x]px border for border depending if 16-32-64-128  */
.grid {
    justify-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    flex-grow: 1;
    background-color: white;
}

.grid-block-16 {
    flex: 1;
    min-width: 32px;
    min-height: 32px;
}

.grid-block-32 {
    flex: 1;
    min-width: 16px;
    min-height: 16px;
}

.grid-block-64 {
    flex: 1;
    min-width: 8px;
    min-height: 8px;
}

.grid-block-128 {
    flex: 1;
    min-width: 4px;
    min-height: 4px;
}
/* border-box and w/h as multipliers of 8-16-32*/
.grid-block-16,
.grid-block-32,
.grid-block-64,
.grid-block-128 {
    box-sizing: border-box;
}

.white-block {
    background-color: #FFFFFF;
    border: 0.5px solid #C0C0C0;
}

.black-block {
    background-color: #000000;
    border: 0.5px solid #000000;
}

#github {
    width: 22px;
    height: auto;
    margin-top: 30%;
}